---

import BaseLayout from '../layouts/base.astro';

---

<BaseLayout title="Events">
    <div>

    </div>

	<div class="middle-pane-medium mt-10">
		<p>My page content, wrapped in a layout!</p>
	</div>

</BaseLayout>