---

import BaseLayout from '../layouts/base.astro';
import talks from '../talks.json';

---

<BaseLayout title="Talks">

	<div class="middle-pane-medium mt-10">
        <div class="mt-16">
			<h1>Talks ({talks.length})</h1>
		</div>

		<div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6">
			{talks.map((entry) => (
				<div class="basegrid-entry aspect-video" style={{backgroundImage: `url("${entry.img}")`, backgroundSize: 'cover', backgroundPosition: 'center'}}>
					<a href={entry.url} class="w-full h-full" title={entry.title}></a>
				</div>
			))}
		</div>
	</div>

</BaseLayout>