---
import AboutItem from "../components/AboutItem.astro";
---

<AboutItem title="RESEARCH" subtext="">
  <div class="w-full">
    <div class="flex flex-col gap-[8px]">
      <p>
        We cultivate and foster a culture of privacy in web3 making data free
        and public.
      </p>
      <p>
        Check our annual reports, infographics, privacy awards, newsletter, and
        guidelines.
      </p>
      <a class="button inverted" href="/research"
        ><button>web3privacy Research</button></a
      >
    </div>
  </div>
</AboutItem>
<AboutItem title="PROJECTS & TOOLS PRODUCTION" subtext="">
  <p class="mb-5">
    By developing free and open tools, <br /> we empower people to make informed
    decisions:
  </p>

  <div class="flex flex-col gap-5">
    <div class="flex gap-[12px] md:items-center items-start w-full">
      <div class="flex flex-row space-x-5 w-full">
        <div>
          <img src="/icons/database.svg" class="inline-block" />
        </div>
        <div>
          <div class="flex items-center flex-nowrap space-x-5">
            <a href="https://explorer.web3privacy.info/" target="_blank">
              <span
                class="font-bold text-white underline"
                style="text-underline-offset: 4px;"
              >
                PRIVACY EXPLORER
              </span>
            </a>
          </div>
          <span class="text-[0.8rem] md:text-[1rem] mt-0 w-full"
            >Helps individuals in discerning the privacy levels, security, and reliability of Web3 projects
          </span>
        </div>
      </div>
    </div>

    <div class="flex gap-[12px] md:items-center items-start w-full">
      <div class="flex flex-row space-x-5 w-full">
        <div>
          <img src="/icons/experiment.svg" class="inline-block" />
        </div>
        <div>
          <div class="flex items-center flex-nowrap space-x-5">
            <a href="https://ideas.web3privacy.info/" target="_blank">
              <span
                class="font-bold text-white underline"
                style="text-underline-offset: 4px;"
              >
                HACKATHON IDEA GENERATOR
              </span>
            </a>
          </div>
          <span class="text-[0.8rem] md:text-[1rem] mt-0 w-full"
            >Helps developers build applications that address real-world
            problems, that people will actually use.
          </span>
        </div>
      </div>
    </div>
    <div class="flex gap-[12px] md:items-center items-start w-full">
      <div class="flex flex-row space-x-5 w-full">
        <div>
          <img src="/icons/local_florist.svg" class="inline-block" />
        </div>
        <div>
          <div class="flex items-center flex-nowrap space-x-5">
            <a href="https://news.web3privacy.info/" target="_blank">
              <span
                class="font-bold text-white underline"
                style="text-underline-offset: 4px;"
              >
                WEEK IN PRIVACY
              </span>
            </a>
          </div>
          <span class="text-[1rem] mt-0 w-full"
            >Weekly newsletter with round-up of the most important news
            happening around privacy in Web3
          </span>
        </div>
      </div>
    </div>
  </div>
</AboutItem>

<AboutItem title="EDUCATION" subtext="">
  <div class="w-full">
    <div class="flex flex-col gap-[8px]">
      <p>
        We make privacy accessible for everyone, empowering people to learn and
        implement best practices effectively.
      </p>
      <br>
      <p>
        From mentoring at hackathons, guidelines for developers, and the
        Cypherpunk Academy - we offer training, incubation, and acceleration
        programs.
      </p>
      <a
        class="button inverted"
        href="https://docs.web3privacy.info/projects/privacy-academy/"
        target="_blank"><button>Privacy Academy</button></a
      >
    </div>
  </div>
</AboutItem>
