---
const {
  images = [
    { webp: "/events/masonry/1.webp", png: "/events/masonry/1.png" },
    { webp: "/events/masonry/2.webp", png: "/events/masonry/2.png" },
    { webp: "/events/masonry/3.webp", png: "/events/masonry/3.png" },
    { webp: "/events/masonry/4.webp", png: "/events/masonry/4.png" },
    { webp: "/events/masonry/5.webp", png: "/events/masonry/5.png" },
    { webp: "/events/masonry/6.webp", png: "/events/masonry/6.png" },
    { webp: "/events/masonry/7.webp", png: "/events/masonry/7.png" },
    { webp: "/events/masonry/8.webp", png: "/events/masonry/8.png" },
    { webp: "/events/masonry/9.webp", png: "/events/masonry/9.png" },
  ],
} = Astro.props;
---

<div
  class="middle-pane-large overflow-hidde relative flex items-center justify-center w-full h-[400px]"
>
  <!-- Left Image -->
  <div
    class="absolute left-1/5 transform -translate-x-full scale-99 z-1 opacity-90"
  >
    <img
      class="object-cover w-[550px] h-[320px] rounded-md shadow-lg"
      src={images[0].webp}
      alt="Image 1"
    />
  </div>

  <!-- Center Image -->
  <div class="relative z-10">
    <img
      class=" w-[600px] h-[380px]"
      src={images[5].webp}
      alt="Image 2"
    />
  </div>

  <!-- Right Image -->
  <div
    class="absolute right-1/5 transform translate-x-full scale-99 z-1 opacity-90"
  >
    <img
      class="object-cover w-[550px] h-[320px] rounded-md shadow-lg"
      src={images[2].webp}
      alt="Image 3"
    />
  </div>
</div>
