<div class="flex flex-col md:flex-row gap-8">
  <div class="flex flex-col h-full h-auto">
    <div class="bg-white px-[16px] text-black">
      <h3 style="color:black !important" class="pb-[3px]">SPONSORSHIP</h3>
    </div>
    <div class="border-4 h-full border-white w-full">
      <div
        class="w-full h-full md:border-x-4 md:border-b-4 border-l-0 md:border-b-0 border-b-4 border-white"
      >
        <div
          class="flex flex-col h-full justify-between p-4 px-6 z-[10] relative"
        >
          <div class="flex flex-col mb-4">
            <p>
              Contribute to our initiatives, from research projects and events
              to merchandise releases and tools production. Your support helps
              us maintain financial sustainability and independence.
            </p>
          </div>
          <div class="flex flex-col z-[10] mb-6">
            <span class="text-white font-bold text-[18px]"> 2023 </span>
            <span class="text-white">
              <a href="/" class="underline" style="text-underline-offset: 4px;">
                Privacy Scaling Exploration</a
              > /
              <a href="/" class="underline" style="text-underline-offset: 4px;">
                Ethereum Foundation</a
              > /
              <a href="/" class="underline" style="text-underline-offset: 4px;">
                Railgun</a
              > /
              <a href="/" class="underline" style="text-underline-offset: 4px;">
                Holonym</a
              > /
              <a href="/" class="underline" style="text-underline-offset: 4px;">
                Arcium</a
              > /
              <a href="/" class="underline" style="text-underline-offset: 4px;">
                Nillion</a
              > /
              <a href="/" class="underline" style="text-underline-offset: 4px;">
                Shutter Network</a
              > /
              <a href="/" class="underline" style="text-underline-offset: 4px;">
                Nym</a
              >
            </span>
          </div>
          <div class="flex flex-col z-[10] mb-8">
            <span class="text-white font-bold text-[18px] leading-[1.4rem]">
              2023
            </span>
            <p class="text-white leading-widest">
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>Zcash</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>Firo</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>Firn</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"
                ><span>Privacy Scaling Exploration</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>Railgun</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>ENS</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"
                ><span>Navio (ex Navcoin)</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>Panther</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"
                ><span>AragonTKResearch</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"
                ><span>Secret Network</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>Waku</span></a
              >
            </p>
          </div>
          <a
            class="button inverted"
            href="mailto:pg@web3privacy.info"
            target="_blank"><button>BECOME A SPONSOR</button></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between gap-8">
    <div class="flex-1">
      <div class="bg-white w-full px-[16px] text-black">
        <h3 style="color:black !important" class="pb-[3px]">DONATE</h3>
      </div>
      <div class="border-4 border-white w-full">
        <div
          class="w-full md:border-x-4 md:border-b-4 border-l-0 md:border-b-0 border-b-4 border-white p-4"
        >
          <div class="flex flex-col h-full justify-between z-[10]">
            <div class="flex flex-col my-4">
              <p>
                All our tools, reports, and events are freely accessible,
                powered by people who care and commit for privacy and freedom.
              </p>
              <p class="text-white my-2">
                <strong
                  >Support our mission—help us reward these efforts and fuel our
                  advocacy for the public good.</strong
                >
              </p>
            </div>
            <a
              class="button inverted"
              href="https://docs.web3privacy.info/get-involved/donate/"
              target="_blank"><button>DONATE</button></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="bg-white w-full px-[16px] text-black">
        <h3 style="color:black !important" class="pb-[3px]">
          SPEAK at our events
        </h3>
      </div>
      <div class="border-4 border-white w-full">
        <div
          class="w-full md:border-x-4 md:border-b-4 border-l-0 md:border-b-0 border-b-4 border-white p-4"
        >
          <div class="flex flex-col justify-between gap-10 z-[10]">
            <div class="flex flex-col my-4">
              <p>
                Join our gatherings to exchange knowledge, spark creativity, and drive
                positive change.
              </p>
            </div>
          </div>
          <a
            class="button inverted"
            href="https://tally.so/r/nrOzXl"
            target="_blank"><button>Become a speaker</button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
