<div class="flex flex-col md:flex-row gap-8">
  <div class="flex flex-col h-full">
    <div class="bg-white px-[16px] text-black">
      <h3 style="color:black !important" class="pb-[3px]">SPONSORSHIP</h3>
    </div>
    <div class="border-4 h-full border-white w-full">
      <div
        class="w-full h-full md:border-x-4 md:border-b-4 border-l-0 md:border-b-0 border-b-4 border-white"
      >
        <div
          class="flex flex-col h-full justify-between p-4 px-6 z-[10] relative"
        >
          <div class="flex flex-col mb-4">
            <p>
              Sponsors are our value-aligned partners who help us maintain
              financial sustainability. They support our mission by contributing
              to all our activities, whether it's a research project, an event,
              a merchandise release.
            </p>
          </div>
          <div class="flex flex-col z-[10] mb-6">
            <span class="text-white font-bold text-[18px]"> 2024 </span>
            <ul class="text-white">
              <a href="/" class="underline" style="text-underline-offset: 4px;">
                <li>Privacy Scaling Exploration</li></a
              >

              <a href="/" class="underline" style="text-underline-offset: 4px;">
                <li>Ethereum</li></a
              >
              <a href="/" class="underline" style="text-underline-offset: 4px;">
                <li>Foundation</li></a
              >
              <a href="/" class="underline" style="text-underline-offset: 4px;">
                <li>Railgun</li></a
              >
              <a href="/" class="underline" style="text-underline-offset: 4px;">
                <li>Payy</li></a
              >
            </ul>
          </div>
          <div class="flex flex-col z-[10] mb-8">
            <span class="text-white font-bold text-[18px] leading-[1.4rem]">
              2023
            </span>
            <p class="text-white leading-widest">
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>Zcash</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>Firo</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>Firn</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"
                ><span>Privacy Scaling Exploration</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>Railgun</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>ENS</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"
                ><span>Navio (ex Navcoin)</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>Panther</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"
                ><span>AragonTKResearch</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"
                ><span>Secret Network</span></a
              > /
              <a
                href="#"
                class="hover:underline"
                style="text-underline-offset: 4px;"><span>Waku</span></a
              >
            </p>
          </div>
          <a
            class="button inverted"
            href="mailto:pg@web3privacy.info"
            target="_blank"><button>BECOME A SPONSOR</button></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between gap-8">
    <div class="flex-1">
      <div class="bg-white w-full px-[16px] text-black">
        <h3 style="color:black !important" class="pb-[3px]">DONATE</h3>
      </div>
      <div class="border-4 border-white w-full">
        <div
          class="w-full md:border-x-4 md:border-b-4 border-l-0 md:border-b-0 border-b-4 border-white p-4"
        >
          <div class="flex flex-col h-full justify-between z-[10]">
            <div class="flex flex-col my-4">
              <p>
                Our diverse array of research, projects development, events and
                tools production is all offered freely, fueled by people and
                organizations who care about digital privacy.
              </p>
              <p class="text-white my-2">
                <strong
                  >Support our independence, help us to advocate for freedom</strong
                >
              </p>
            </div>
            <a
              class="button inverted"
              href="https://docs.web3privacy.info/get-involved/donate/"
              target="_blank"><button>DONATE</button></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="bg-white w-full px-[16px] text-black">
        <h3 style="color:black !important" class="pb-[3px]">
          SPEAK at our events
        </h3>
      </div>
      <div class="border-4 border-white w-full">
        <div
          class="w-full md:border-x-4 md:border-b-4 border-l-0 md:border-b-0 border-b-4 border-white p-4"
        >
          <div class="flex flex-col justify-between gap-10 z-[10]">
            <div class="flex flex-col my-4">
              <p>
                At Web3Privacy Now, we are dedicated to fostering growth,
                innovation, and collaboration. We offer a supportive environment
                where like-minded individuals come together to share knowledge,
                spark creativity, and drive positive change.
              </p>
            </div>
          </div>
          <a
            class="button inverted"
            href="https://tally.so/r/nrOzXl"
            target="_blank"><button>Become a speaker</button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
