<div class="flex flex-col md:flex-row gap-8">
  <div class="flex flex-col h-full">
    <div class="bg-white px-[16px] text-black">
      <h3 style="color:black !important" class="pb-[3px]">SPONSORSHIP</h3>
    </div>
    <div class="border-4 h-full border-white w-full">
      <div
        class="w-full h-full md:border-x-4 md:border-b-4 border-l-0 md:border-b-0 border-b-4 border-white"
      >
        <div class="flex flex-col h-full justify-between p-4 z-[10] relative">
          <div class="flex flex-col">
            <p>
              Members are our chosen collaborators for mutual support and
              growth. Rather than one-time deals for individual events or
              projects, we strive for consistent collaboration to achieve
              lasting impact.
            </p>
            <span class="leading-[1.4rem]">
              Become an integral part of our community! Join us with building
              privacy platform we all need.
            </span>
          </div>
          <div class="flex flex-col md:px-[24px] z-[10]">
            <span class="text-white font-bold text-[18px]"> 2024 </span>
            <ul class="ml-[18px] text-white">
              <li>
                Privacy<li>
                  <li>Scaling</li>
                  <li>Exploration</li>
                  <li>Ethereum</li>
                  <li>Foundation</li>
                  <li>Railgun</li>
                  <li>Payy</li>
                </li>
              </li>
            </ul>
          </div>
          <div class="flex flex-col md:px-[24px] z-[10]">
            <span class="text-white font-bold text-[18px] leading-[1.4rem]">
              2023
            </span>
            <p class="text-white font-bold leading-widest">
              <a href="#" class="hover:underline"><span>Zcash</span></a> /
              <a href="#" class="hover:underline"><span>Firo</span></a> /
              <a href="#" class="hover:underline"><span>Firn</span></a> /
              <a href="#" class="hover:underline"
                ><span>Privacy Scaling Exploration</span></a
              > /
              <a href="#" class="hover:underline"><span>Railgun</span></a> /
              <a href="#" class="hover:underline"><span>ENS</span></a> /
              <a href="#" class="hover:underline"
                ><span>Navio (ex Navcoin)</span></a
              > /
              <a href="#" class="hover:underline"><span>Panther</span></a> /
              <a href="#" class="hover:underline"
                ><span>AragonTKResearch</span></a
              > /
              <a href="#" class="hover:underline"><span>Secret Network</span></a
              > /
              <a href="#" class="hover:underline"><span>Waku</span></a>
            </p>
          </div>
          <a class="button inverted"><button>BECOME A SPONSOR</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between gap-8">
    <div class="">
      <div class="bg-white w-full px-[16px] text-black">
        <h3 style="color:black !important" class="pb-[3px]">DONATE</h3>
      </div>
      <div class="border-4 border-white w-full">
        <div
          class="w-full md:border-x-4 md:border-b-4 border-l-0 md:border-b-0 border-b-4 border-white p-4"
        >
          <div
            class="flex flex-col h-full justify-between gap-10 z-[10]"
          >
            <div class="flex flex-col my-4">
              <p>
                Members are our chosen collaborators for mutual support and
                growth. Rather than one-time deals for individual events or
                projects, we strive for consistent collaboration to achieve
                lasting impact.
              </p>
              <p class="text-white mt-4">
                <strong
                  >Support our independence, help us to advocate for freedom</strong
                >
              </p>
            </div>
            <a class="button inverted"><button>DONATE</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="bg-white w-full px-[16px] text-black">
        <h3 style="color:black !important" class="pb-[3px]">
          SPEAK at our events
        </h3>
      </div>
      <div class="border-4 border-white w-full">
        <div
          class="w-full md:border-x-4 md:border-b-4 border-l-0 md:border-b-0 border-b-4 border-white p-4"
        >
          <div class="flex flex-col justify-between gap-10 z-[10] ">
            <div class="flex flex-col  my-4">
              <p>
                At Web3Privacy Now, we are dedicated to fostering growth,
                innovation, and collaboration. We offer a supportive environment
                where like-minded individuals come together to share knowledge,
                spark creativity, and drive positive change.
              </p>
            </div>
          </div>
          <a class="button inverted"><button>SPEAK AT OUR EVENTS</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
